@font-face {
  font-family: "Roboto";
  scr: url ("")
    url("")
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: "Roboto";
  scr: url ("")
    url("")
   font-weight: 700;
   font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #666666;
  --basic-extra-light: #EEEEEE;
  --basic-white: #ffffff;

  --special1: #00CA74;
  --special2: #00BC6C;
  --special3: #01A25E;
  --special4: #00BC6C;
  --special5: #FB565A;
  --special6: #E74246;
  --special7: #D7373B;
  --special8: #EFC849;
  --special9: #EAB534;
  --special10:#E5A722;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px 18px 24px 36px 45px 55px;
  line-height: 18px,22px,24px,30px,36px,45px,55px;
  font-weight:700 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  background-image: url("../img/bg.jpg");
  background-position: left center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows:
  min-content
  1fr
  min-content;
  align-content: start;
}

.a {
  text-decoration: none;
}

/* Grid */

.page {
  height: 100%;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 140px;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 50px;
}

/* Main header */

.inner-page .main-header {
  display: inline;
  background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Container */

.container {
  display: grid;
  grid-template-columns: 1f;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Logo */

.main-header-logo {
  order: 0;
  justify-self: start;
  outline-offset: -5px;
}

.main-navigation-wrapper {
  display: inline-block;
  grid-template-columns: 1fr min-content;
  background-color: var(--basic-white);
}

.inner-page .main-navigation-wrapper {
  grid-template-columns: 170px 1fr min-content;
}

.inner-page .main-header-logo {
  order: 0;
}

/* Site Navigation */

.site-navigation {
  margin: 0;
  padding: 0;
  outline-offset: -5px;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */

.site-navigation a:hover {
  opacity: 0.3;
}
.user-navigation a:hover {
  opacity: 0.7;
  color: var(--basic-black);
}

.site-navigation a:hover{

}
.site-navigation a:focus{

}
.user-navigation a:hover{

}
.user-navigation a:focus {
  background-color: var(--special5);
}

.feature-title {
  text-transform: uppercase;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
text-transform: uppercase;
}

/* Features */

.features {
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 16px;
  line-height: 30px;
}

.feature-item p {
  margin: 0 10px;
}

/* Index columns */

.index-columns {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/nerds-illustration.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-black);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special5);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

/* Breadcrumbs */

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

/* Filters */

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: var(--basic-neutral);
}

.catalog-item-price .button {
  line-height: 20px;
  color: var(--basic-white);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--special);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Contacts */

.footer-contacts {
  color: inherit;
}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

. reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-title {
  text-transform: uppercase;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
text-transform: uppercase;
}

  a {
  color:black;
  text-decoration:none;
}

.a:active {
color:black;
text-decoration:none;
}

.a:hover {
color:#FB565A;
text-decoration: underline;
}

.a:visited {
color:#000000;
text-decoration:none;
}

/* Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
  background-image: url("img/map.jpg");
  background-position: 0 0;
  background-repeat: repeat;

}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: underline;
  margin: 0;
  width: 320px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}
